<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 relative text-white px-5">
        <div class="form px-10 py-10">
            <div class="text-right">
                <a  class="text-xl bg-yellow-600 rounded-lg  mb-2 p-1 border-blue-500  " href="/">Home</a>
           </div>  
              <form class="flex gap-4 p-2" action="/delete" method="POST">
                <label class="text-3xl" for="filename">File Name:</label>
                <input class="bg-zinc-500 w-60 outline-none p-2 rounded-md" placeholder="FileName"  autocomplete="off" type="text" id="filename" name="filename" required>
                <button class="bg-blue-400  ml-2 px-3 py-2 rounded-md" type="submit">Delete</button>
            </form>
        </div>
        
    </div>
</body>

</html>